@import url(https://fonts.googleapis.com/css?family=Molle:subset=latin,latin-ext);
body {
  background: red;
  margin: 0;
  padding: 0;
  font-family: 'Molle', cursive;
}
div{
  left: 30%;
  position: absolute;
  font-size:150px;
  color: #000000;
}